{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- <div> 

<div id="paper">
    <div class=" overlay col-4">
        <h1 class="display-4 logo-font text-black">
            Touching the
        </h1>
    </div>
    <div id="banner" class="col-4 justify-content-right ">

        <h1>Your online warehouse</h1>
        <p> Garden Stockholm is your one-stop shop for all plant related goodness. It’s a place to learn how to become the best possible plant parent and connect with other plant lovers throughout Europe</p>
        <h4>
            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
        </h4>
    </div>
</div>



<div class="col-4  overlay ">
    <h1 class="display-4 logo-font text-black ">
        hearts of all
    </h1>

</div>

<div class="col-4  overlay">
    <h1 class="display-4 logo-font text-black">
        Plants lovers.
    </h1>
</div>



</div> -->





{% endblock %}