{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="container-fluid" class="justify-between">

    <div class="card text-black">
        <div class="card-img" id="homeimage">

            <div class="row ">

                <div class="col-6" id="banner">
                    <div id="imagebanner">
                        <div>
                            <h1 class="card-title" id="card-title-1">Touching the </h1>
                        </div>
                        <div>
                            <h1 class="card-title" id="card-title-2"> hearts of all</h1>
                        </div>
                        <div>
                            <h1 class="card-title" id="card-title-3">plants lovers.</h1>
                        </div>
                        <div class=" d-block d-lg-none">
                            <a href="{% url 'products' %}" class=" btn  btn  text-uppercase py-1 text-white"
                                id="shop-now-button">Shop Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-xs-12" style="text-align: center; ">
                    <div class="" id="imagebanner2">
                        <h1 class="flex flex-col items-center md:items-start justify-start text-xl md:text-6xl">
                            Your online warehouse
                        </h1>
                        <p>
                            Stockholm Garden is your one-stop shop for all plant related goodness. It’s a place to learn
                            how to become the best possible plant parent and connect with other plant lovers throughout
                            Europe
                        </p>
                        <h4>
                            <a href="{% url 'products' %}"
                                class=" btn btn-lg btn btn-secondary rounded-pill  text-uppercase py-2 text-white"
                                id="shop-now-button">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>

    <div class="container">
        <h1 class="mt-5" style="text-align: center;">Best Sellers</h1>

        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 ">

            <div class="col-3">

                <div class="card card-block card-1 ">

                </div>
            </div>

            <div class="col-3">
                <div class="card card-block card-2"></div>
            </div>
            <div class="col-3">
                <div class="card card-block card-3"></div>
            </div>
            <div class="col-3">
                <div class="card card-block card-4"></div>
            </div>
            <div class="col-3">
                <div class="card card-block card-5"></div>
            </div>

        </div>
    </div>
</section>

</html>
{% endblock %}