@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Yeseva+One&display=swap');

html {
    height: 100%;
}

body {

    padding-top: 230px;
}

/*------------------------------------------------------------------------------------------------ base.html nav*/

.navbar-expand-lg {
    padding-right: 8rem;
    padding-left: 8rem;
}

.plantsnav {
    background-color: #F3F4F3;
    font-family: 'Yeseva One', sans-serif;
}

#delivery-banner {
    margin-bottom: 0;
    background-color: black;
    color: aliceblue;
    font-family: "EB+Garamond", sans-serif;
}

#secondnav {
    margin-top: 0;
}

.navbar a {
    color: black;
}

/*------------------------------------------------------------------------------------------------ home.html */

/* section1
 */
#homeimage {
    background: url('/media/cover3.jpg') no-repeat center center fixed;
    object-fit: cover;
    background-size: 95%;
    height: 700px;
    position: relative;
    margin-top: 0;  
}

#imagebanner {

    margin-left: 100px;
    margin-top: 200px;
}

.card-title {
    background-color: #FFFFFFD9;
    font-family: 'Yeseva One', sans-serif;
    width: 400px;
    font-size: 3rem;
    height: 80px;
    text-align: center;
    padding-top: 12px;
}

#card-title-3 {
    background-color: #000000;
    color: #FFFFFF;
}

#imagebanner2 {
    background-color: #DEBE48D9;
    color: #FFFFFF;
    width: 550px;
    height: 755px;
    margin-left: 1300px;
    margin-top: 0px;
    font-family: "EB+Garamond", sans-serif;
    text-align: center;
    padding-top: 180PX;
}

#imagebanner2 h1 {
    font-family: 'Yeseva One', sans-serif;
    padding-bottom: 20px;
}

#imagebanner2 p {
    padding-bottom: 20px;
}

#shop-now-button {
    background-color: #443b2c;
    font-family: "EB+Garamond", sans-serif;
}

/* section2 */

#best_sell {
    padding-top: 80px;
}

#best_sell h1 {

    font-family: 'Yeseva One', sans-serif;
    text-align: center;
    padding-bottom: 70px;
}

/* .scrolling-wrapper{
	overflow-x: auto;
		width: 70%;
	margin:auto;
	 
}


.card-block{
	height: 350px;
	width: 300px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	}
}


.card-1 {
    background: url('/media/plant27.jpg') no-repeat center center fixed;
    background-size: cover;


}

.card-2 {
    background: url('/media/plant6.webp') no-repeat center center fixed;
    background-size: cover;
  
}

.card-3 {
    background: url('/media/plant15.webp') no-repeat center center fixed;
    background-size: cover;
}


 */

 img{
    background-repeat: no-repeat;
    background: fixed center center;
    background-size: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
         
  }
  
  .product-front{
  /* 	width:340px;
      height:500px; */
  /* 	width:335px;
      height:500px; */
      background:#fff;
      position:absolute;
      /*left:-5px;
      top:-5px;*/
      -webkit-transition: all 100ms ease-out; 
         -moz-transition: all 100ms ease-out; 
           -o-transition: all 100ms ease-out; 
              transition: all 100ms ease-out; 
  }
  
  
  .product-card.animate, .product-card.animate {
      top:0px;
      left:0px;
      -webkit-transition: all 100ms ease-out; 
         -moz-transition: all 100ms ease-out; 
           -o-transition: all 100ms ease-out; 
              transition: all 100ms ease-out;  
  }
  .product-card{
      
      width:380px;
      height:490px;  
      position:absolute;    
      /*top:10px;
      left:10px;	*/
      overflow:hidden;
      transform-style: preserve-3d;
      -webkit-transition:  100ms ease-out; 
         -moz-transition:  100ms ease-out; 
           -o-transition:  100ms ease-out; 
              transition:  100ms ease-out;
  }
  
  
  .product-card.animate{
      top:5px;
      left:5px;
      width:335px;
      height:500px;
      box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
      -webkit-transition:  100ms ease-out; 
         -moz-transition:  100ms ease-out; 
           -o-transition:  100ms ease-out; 
              transition:  100ms ease-out; 
  } 
  .stats-container{
      background:#fff;	
      position:absolute;
      
      top:386px;
      left:0;
      width:335px;
      height:200px;
      padding:27px 35px 35px;	
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 
  }
  .product-card.animate .stats-container{
       top:272px;
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out;  
  }
  .stats-container .product_name{
      font-size:22px;
      color:#393c45;	
  }
  .stats-container p{
      font-size:16px;
      color:#b1b1b3;	
      padding:2px 0 20px 0;
  }
  .stats-container .product_price{
      float:right;
      color:#48cfad;
      font-size:22px;
      font-weight:600;
  }
  .image_overlay{
      position:absolute;
      top:0;
      left:0; 
      width:100%;
      height:100%;
      background: #DEBE48D9;
      opacity:0;	
  }
  .product-card.animate .image_overlay{
      opacity:0.7;	
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 
  }
  .product-options{
      padding:2px 0 0;
  }
  .product-options strong{
      font-weight:700;
      color:#393c45;
      font-size:14px;
  }
  .product-options span{	
      color:#969699;
      font-size:14px;
      display:block;
      margin-bottom:8px;
  }
  #view_details{	
      position:absolute;
      top:112px;
      left:50%;
      margin-left:-85px;	
      border:2px solid #fff;
      color:#fff;
      font-size:19px;
      text-align:center;
      text-transform:uppercase;
      font-weight:700;
      padding:10px 0;
      width:172px;	
      opacity:0;
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 
  }
  #view_details:hover{	
      background:#fff;
      color:#48cfad;
      cursor:pointer;
  
  }
  .product-card.animate #view_details{
      opacity:1;
      width:152px;
      font-size:15px;
      margin-left:-75px;
      top:115px;
      -webkit-transition: all 200ms ease-out; 
         -moz-transition: all 200ms ease-out; 
           -o-transition: all 200ms ease-out; 
              transition: all 200ms ease-out; 		
  }
  div.colors div{
      margin-top:3px;
      width:15px; 
      height:15px; 	
      margin-right:5px;
      float:left;
  }
  div.colors div span{
      width:15px; 
      height:15px; 
      display:block;
      border-radius:50%;
  }
  div.colors div span:hover{
      width:17px;
      height:17px;
      margin:-1px 0 0 -1px;
  }
  div.c-blue span{background:#6e8cd5;}
  div.c-red span{background:#f56060;}
  div.c-green span{background:#44c28d;}
  div.c-white span{
      background:#fff;
      width:14px;
      height:14px; 
      border:1px solid #e8e9eb;
  }
  div.shadow{
      width:335px;height:520px;
      opacity:0;
      position:absolute;
      top:0;
      left:0;
      z-index:3;
      display:none;
      background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
      background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
      background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
      background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
  }
  
  



/*------------------------------------------------------------------------------------------------  */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}






.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}


.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}




.card img {
    height: 550px;
}



/*------------------------------------------------------------------------------------------------ favorites.html*/

#favorite_title{
    font-family: 'Yeseva One', sans-serif;
    text-align: center;

}

#favorite_content  {
    font-family: "EB+Garamond", sans-serif;
 

}



/*------------------------------------------------------------------------------------------------ profile.html*/
input[name='q']::placeholder {
    color: #aab7c4;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}



/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;



}

.custom-toast {
    overflow: visible;
    height: 100%;
}

.toast-capper {
    height: 2px;

}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}




/* -------------------------------- Media Queries */