@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Yeseva+One&display=swap');


/* pallete
#3B2E66 purple
#CE392B red
#DEBD47 ye
#3EC24D gron
#03070D black
 */

html {
    height: 100%;
}

/*------------------------------------------------------------------------------------------------ base.html nav*/
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar {
    padding: 0;

}

.navbar-expand-lg {
    padding-right: 8rem;
    padding-left: 8rem;
}

.plantsnav {
    background-color: #F3F4F3;
    font-family: 'Yeseva One', sans-serif;
}

#delivery-banner {
    margin-bottom: 0;
    padding: 0;
    background-color: #03070D;
    color: aliceblue;
    font-family: "EB+Garamond", sans-serif;
}

.carousel-item nav-link {
    padding: 0;
}

#secondnav {
    margin-top: 0;
}

.navbar a {
    color: black;
}

/*------------------------------------------------------------------------------------------------ home.html */
#homeimage {
    background: url('/media/cover3.jpg') no-repeat center center fixed;
    object-fit: cover;
    background-size: cover;
    height: 60vh;
    position: relative;
    margin-top: 0;
}

#imagebanner {
    text-align: center;
    margin-top: 10%;
}

.card-title {
    background-color: #FFFFFFD9;
    font-family: 'Yeseva One', sans-serif;
    max-width: 300px;
    font-size: 3vw;
    min-height: 5vh;
    text-align: center;
    margin-left: 8%;
}

#card-title-3 {
    background-color: #000000;
    color: #FFFFFF;
}

#imagebanner2 {
    background-color: #DEBE48D9;
    color: #FFFFFF;
    width: 35vw;
    height: 65vh;
    margin-top: 0px;
    font-family: "EB+Garamond", sans-serif;
    text-align: center;
    padding-top: 3vh;
    margin-left: 5vw;
}

#imagebanner2 h1 {
    font-family: 'Yeseva One', sans-serif;
    padding-bottom: 20px;
}

#imagebanner2 p {
    padding-bottom: 20px;
}

#shop-now-button {
    background-color: #CE392B;
    font-family: "EB+Garamond", sans-serif;
}

/* section2 */

#best_sell {
    padding-top: 80px;
}

#best_sell h1 {
    font-family: 'Yeseva One', sans-serif;
    text-align: center;
    padding-bottom: 70px;
}

.scrolling-wrapper {
    overflow-x: auto;
    /* 	width: 80%; */
    margin: auto;
}

.card-block {
    height: 40vh;
    width: 30vh;
    border: none;
    transition: all 0.2s ease-in-out !important;
}

.card-block:hover {
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
}

.card-1 {
    background: url('/media/plant36.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.card-2 {
    background: url('/media/plant10.webp') no-repeat;
    background-position: center;
    background-size: cover;
}

.card-3 {
    background: url('/media/plant12.webp') no-repeat;
    object-fit: cover;
    background-size: cover;
}

.card-4 {
    background: url('/media/plant35.jpg') no-repeat;
    object-fit: cover;
    background-size: cover;
}

.card-5 {
    background: url('/media/plant33.jpg') no-repeat;
    object-fit: cover;
    background-size: cover;
}


/*------------------------------------------------------------------------------------------------  */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}






.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}


.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}




.card img {
    height: 50vh;
}

.card img:hover {
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
}



/*------------------------------------------------------------------------------------------------ favorites.html*/

#favorite_title {
    font-family: 'Yeseva One', sans-serif;
    text-align: center;

}

#favorite_content {
    font-family: "EB+Garamond", sans-serif;


}



/*------------------------------------------------------------------------------------------------ profile.html*/
input[name='q']::placeholder {
    color: #aab7c4;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}



/* --------------------------------------------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;



}

.custom-toast {
    overflow: visible;
    height: 100%;
}

.toast-capper {
    height: 2px;

}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --------------------------------------------------------------------------- Orders */


.order-history {
    max-height: 416px; 
    overflow-y: auto;
}



/* --------------------------------------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        /*  z-index: 1030; */
    }

    .header-container {
        padding-top: 138px;
    }
}


/* /*   /* mobile landscape */
@media screen and (max-width: 988px) {
    .header-container {
        padding-top: 120px;
    }

    #search {
        width: 40vw;
    }


    .navbar-expand-lg {
        text-align: center;
        padding: 0;
    }




}

@media screen and (max-width: 988px) {
    #imagebanner2 {

        display: none;
    }

    #banner {
        position: absolute;
        transform: translate(-50%, -50%);
        margin-right: -50%;
        top: 50%;
        left: 50%;
    }
}