{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1 text-warning fa-2xs"></i></small>
                <button data-toggle="modal" data-target="#productReview" type="button" class="btn btn-warning btn-sm float-left reviewBtn">Add Review</button>
<!-- Modal -->
<div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="productReview" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productReview">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Add Review
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
                {% else %}
                <small class="text-muted">No Rating</small>

                {% endif %}
                <hr>
                <p class="mt-3">{{ product.description }}</p>
                <hr>
               
              <!--   ADD TO CART FORM -->
               
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}



                    <div class="form-row">
                        {% with product.has_colors as c %}
                        {% if c %}
                        <div class="col-12">
                            <p><strong> Pot color:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_color" id='id_product_color'>
                                <option value="brown" selected>Brown</option>
                                <option value="green"> Green</option>
                                <option value="blue"> Blue</option>
                                <option value="terracota"> Terracota</option>
                                <option value="pink"> Pink</option>

                            </select>
                            <hr>
                        </div>

                        {% endif %}

                        {% endwith %}


                        <div class="col-12 form-row">

                            <p class="mt-3 "><strong>Quantity:</strong></p>
                        </div>

                        <div class="form-group  col-12 form-row w-50">

                            <div class="input-group input-group-{{ item.item_id }}">
                                <div class="input-group-prepend">
                                    <button
                                        class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }}"
                                        data-item_id="{{ item.item_id }}" style="background-color: black;">
                                        <span class="icon">
                                            <i class="fas fa-minus" style="color: white;"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="qty_input id_qty_{{ item.item_id }}" type="number" name="quantity"
                                    value="1" min="1" max="99" data-item_id="{{ item.item_id }}" style="width: 43%;">

                                <div class="input-group-append">
                                    <button
                                        class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }}"
                                        data-item_id="{{ item.item_id }}" style="background-color: black">
                                        <span class="icon">
                                            <i class="fas fa-plus" style="color: white;"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <!--  <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a> -->
                            <input type="submit" class="btn btn-black bg-warning text-dark w-50 text-uppercase mt-5"
                                value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">

                    </div>
                </form>

        <!-- favorites -->
        <form class="form" action="{% url 'add_to_favorites' product.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
            

                <div class="col-12">

                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to favorites">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>


            </div>
        </div>
    </div>
</div>




<div class="container-fluid">
    <div class="row mt-4" style="background-color: #F3F4F3;">

        <div class="col-6" style="border-right: 1px solid black; margin: auto; text-align: center;"> 
            <img src="{{'/media/delivery.svg'}}" alt="" style="width: 60px;">
            <p>Free shipping from €50,-</p>
            <p>We ship our plants all over Europe!</p>
        </div>
        <div class="col-6" style=" margin: auto; text-align: center;"> 
            <img src="{{'/media/garanti.svg'}}" alt="" style="width: 50px; ">
            <p>30 day health guarantee</p>
            <p>For all our happy plants.</p>
        </div>

    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity.html' %}
{% endblock %}