<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success" ></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark"  >
        <strong class="mr-auto" >Your Favorites</strong> 
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="logo-font bg-white text-black py-1" style="text-align: center; justify-content: center;"> {{ product_count }} items in your Favorites!</p>
            <div class="bag-notification-wrapper">
                {% for item in favorites_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
        

                    <a href="{% url 'view_favorites' %}" class="btn btn-black btn-block rounded-0 btn-warning">
                        <span class="text-uppercase">Check your favorites</span>
                        <span class="icon">
                            <i class="fas fa-heart"></i>
                        </span>
                    </a>
                    <a href="{% url 'products' %}" class="btn btn-black btn-block rounded-0">

                        <span class="text-uppercase">Continue Shopping</span>
                    </a>
                </div>
            </div>
        {% endif %}     
    </div>
</div>
